* {
  padding: clamp(1rem, 3vw, 3rem);
}
h1 {
  font-size: clamp(2.4rem, 5vw + 1rem, 5.6rem);
}
h2 {
  font-size: clamp(1.9rem, 4.5vw + 1rem, 5.1rem);
}
h3 {
  font-size: clamp(1.4rem, 4vw + 1rem, 4.6rem);
}
h4 {
  font-size: clamp(0.9rem, 3.5vw + 1rem, 4.1rem);
}
h5 {
  font-size: clamp(0.5rem, 3.1vw + 1rem, 3.7rem);
}
h6 {
  font-size: clamp(0.2rem, 2.7vw + 1rem, 3.2rem);
}
.container {
  container-type: inline-size;
  container-name: my-container;
}
.containerLayout {
  display: flex;
  flex-direction: column;
  border: solid;
  gap: clamp(1rem, 3vw, 3rem);
}
.container .card {
  background-color: aliceblue;
}
@container (min-width:500px) {
  .containerLayout {
    flex-direction: row;
  }
}
